<div style="text-align: center;">
  <form action="/">
    <input class="my-3 border border-white" type="text" placeholder="  Input URL here">
    <div><button type="button" class="btn btn-outline-primary" style="width: 200px;">Shorten</button></div>
  </form>
</div>