<div style="text-align: center;">
  <h3 class="my-3">Success! Please use this link:</h3>
  <a href="/" class="font-weight-bold"></a>
  <div>
    <button type="button" class="btn btn-primary mt-3">Copy</button>
  </div>
</div>